# Backend
PORT=3001
FRONTEND_URL=http://localhost:5173
REDIS_URL=redis://localhost:6379
TEMP_DIR=./temp
FILE_TTL_SECONDS=3600
MAX_FILE_SIZE_MB=10
REMBG_SERVICE_URL=http://localhost:8001
GFPGAN_SERVICE_URL=http://localhost:8002
SD_SERVICE_URL=http://localhost:8003
NODE_ENV=development

# Frontend
VITE_API_URL=http://localhost:3001
